<div class="vot-form">
  <span class="vot-form-heading">Authenticate a Password Reset</span>
  <div *ngIf="error !== ''" class="vot-form-error">
    <p>{{ error }}</p>
    <ul *ngIf="errorDetails.length > 0">
      <li *ngFor="let detail of errorDetails">{{ detail }}</li>
    </ul>
  </div>
  <span class="vot-form-notice">
    You should have received an email with an authentication code in your inbox.
    Enter the authentication code in the text box below.
  </span>
  <form (submit)="onSubmitClicked($event)">
    <div class="vot-form-element">
      <label for="authCode">Authentication Code:</label>
      <input type="text"
             id="authCode"
             name="authCode"
             [(ngModel)]="authCode"
             required />
    </div>
    <div class="vot-form-element">
      <button [disabled]="working" type="submit" class="confirm">
        Authenticate Password Reset
      </button>
    </div>
  </form>
</div>