<div class="vot-home-intro">
  <div class="vot-home-intro-caption">
    <img src="assets/votany-checkmark.png" alt="votany" title="Your Issues, Your Voice, Your Vote" />
    <p class="vot-home-intro-motto">
      Your <span>Issues</span><br />
      Your <span>Voice</span><br />
      Your <span>Vote</span><br />
    </p>
    <p class="vot-home-intro-directive">
      Make yours known now!<br />
      <button>Sign Up and Get Started</button>
    </p>
  </div>
</div>

<div class="vot-home-about">
  <span class="vot-home-heading">
    Votany - A Place To...
  </span>
  <div class="vot-home-cards">
    <div class="vot-home-card">
      <span class="vot-home-card-heading">Voice Your Issues</span>
      <p>
        Here at Votany, you can create and manage your own polls in order to voice whatever
        issue you would like to voice, from "What's your favorite rock band?" to "Who do you
        think shoud win the election?". Use your imagination!
      </p>
    </div>
    <div class="vot-home-card">
      <span class="vot-home-card-heading">Voice Your Vote</span>
      <p>
        Here at Votany, you can view and cast a vote on a wide range of issues put forth by
        other users. You don't even need to be registered in order to vote, either!<br /><br />
        If you do register, however, you can also expand upon those issues by adding your own
        choices to polls. Don't see your favorite choice? Add it!
      </p>
    </div>
    <div class="vot-home-card">
      <span class="vot-home-card-heading">Voice Your Opinion</span>
      <p>
        Here at Votany, if you register an account, you can also expand upon your votes by posting
        comments on your favorite polls, and engage in an additional conversation on the issues you vote on.
      </p>
    </div>
  </div>
</div>