<div class="vot-form">
  <span class="vot-form-heading">Change Your Password</span>
  <div *ngIf="error !== ''" class="vot-form-error">
    <p>{{ error }}</p>
    <ul *ngIf="errorDetails.length > 0">
      <li *ngFor="let detail of errorDetails">{{ detail }}</li>
    </ul>
  </div>
  <form (submit)="onSubmitClicked($event)">
    <div class="vot-form-element">
      <label for="password">Password:</label>
      <input type="password"
             id="password"
             name="password"
             [(ngModel)]="password"
             required />
    </div>
    <div class="vot-form-element">
      <label for="confirm">Confirm Password:</label>
      <input type="password"
              id="confirm"
              name="confirmedPassword"
              [(ngModel)]="confirmedPassword"
              required />
    </div>
    <div class="vot-form-element">
      <button [disabled]="working" type="submit" class="confirm">
        Change Password
      </button>
    </div>
  </form>
  <span class="vot-form-heading">Instructions</span>
  <ul class="vot-form-information">
    <li>All fields are required.</li>
    <li>Passwords must contain between 8 and 30 characters.</li>
    <li>Passwords must contain at least one capital letter.</li>
    <li>Passwords must contain at least one number.</li>
    <li>Passwords must contain at least one symbol.</li>
    <li>If you need help creating a strong password, <a href="https://passwordsgenerator.net/" target="_blank">this website will help.</a></li>
  </ul>
</div>