<div class="vot-form">
  <span class="vot-form-heading">
    Data Usage FAQ
  </span>
  <span class="vot-form-subheading">
    What is the purpose of this page?
  </span>
  <span class="vot-form-notice">
    To inform users on how their information will be used on this
    site when they use it.
  </span>
  <span class="vot-form-subheading">
    How Do I Sign In?
  </span>
  <span class="vot-form-notice">
    You can sign in on Votany using one of two methods. You can either sign in
    with the traditional method, using an email address and a password, or you can
    sign in using the social media method, using your Facebook or Twitter account.
  </span>
  <span class="vot-form-subheading">
    How will my information be used on this website?
  </span>
  <span class="vot-form-notice">
    For unregistered users:<br />
    Your device's IP address will be used to identify polls that you have voted on.
  </span>
  <span class="vot-form-notice">
    For users who register locally:<br />
    Your first and last name will be used to identify you as the author of your polls and comments.<br />
    Your first and last name will also be used to identify polls that you have voted on.<br />
    You will use your email address in order to log in on this site.<br />
    Your email address will be used to send you an account verification email when you register.<br />
    Your email address will also be used to let you know if a password reset has been requested or carried out.<br />
  </span>
  <span class="vot-form-notice">
    For users who register via social media:<br />
    Your display name is set by the social media platform with which you sign in.
    Your display name will be used to identify you as the author of your polls and comments.<br />
    Your display name will also be used to identify polls that you have voted on.<br />
    Your provider ID, given by your social media platform, will be used to log you in.<br />
  </span>
  <span class="vot-form-notice">
    The information you give will never be used in ways other than what is stated above.
  </span>
</div>