/* You can add global styles to this file, and also import other style files */

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Questrial');

// Variables
@import "./scss/variables.scss";

// Mixins
@import "./scss/mixins.scss";

// Topbar and Flash
@import "./scss/topbar.scss";
@import "./scss/flash.scss";

// Reset margin and padding of all components. Also set the font.
* {
    margin: 0px;
    padding: 0px;
    font-family: "Questrial", sans-serif;
}

html, body {
    min-height: 100%;
    background: $page-background;
}

a {
    text-decoration: none;
    color: darkgreen;

    &:hover {
        text-decoration: underline;
    }
}

// Application body.
.vot-body {
    margin-top: 50px;
    overflow: auto;

    @import "./scss/home.scss";
    @import "./scss/form.scss";
    @import "./scss/poll-editor.scss";
    @import "./scss/poll-view.scss";
    @import "./scss/poll-search.scss";
}