///
/// @file   variables.scss
/// @brief  Contains variables that will be used by our app's sytles.
///

// Media Queries
$md-screen: "only screen and (max-width: 970px)";
$sm-screen: "only screen and (max-width: 760px)";
$xs-screen: "only screen and (max-width: 500px)";

// Colors
$flash-default-bg: lightgrey;
$flash-default-text: black;
$flash-ok-bg: lightgreen;
$flash-ok-text: darkgreen;
$flash-error-bg: lightpink;
$flash-error-text: darkred;

$topbar-background:         #1B2512;
$topbar-background-hover:   #252E1E;
$topbar-text:               #DAE6D0;

$page-background:           #052A03;

$form-background:           #C6C7C6;
$form-text:                 black;

$home-background:           #052A03;
$home-background-darker:    rgb(2, 14, 1);
$home-text:                 #E8E9E8;